:root {
    --primary-color: #008ecc;
    --heading-color: #222;
    --background-light: #f5f5f5;
}

body {
    font-family: "Montserrat", sans-serif;
}

.services-section {
    padding: 3rem 0;
}

.section-header {
    position: relative;
    margin-bottom: 3rem;
}

.section-title {
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--heading-color);
}

.section-title span {
    color: var(--primary-color);
}

.header-underline {
    background-color: #008ecc;
    margin: 16px 0 0;
    width: 187px;
    border: 3px solid rgba(0, 142, 204, 1);
}

.divider {
    background-color: #ededed;
    align-self: start;
    width: 100%;
    flex-grow: 1;
    flex-basis: auto;
    border: 1px solid rgba(237, 237, 237, 1);
}

.service-item {
    text-align: center;
    margin-bottom: 2rem;
}

.service-icon-wrapper {
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background-color: var(--background-light);
    border: 1px solid var(--background-light);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05), 1px 10px 10px rgba(0, 0, 0, 0.04),
        2px 22px 13px rgba(0, 0, 0, 0.03), 4px 40px 16px rgba(0, 0, 0, 0.01);
    transition: transform 0.3s ease;
}

.service-icon-wrapper:hover {
    transform: translateY(-5px);
    border: 1px solid var(--primary-color);
}

.service-icon {
    width: 36px;
    height: auto;
    object-fit: contain;
}

.service-icon-career {
    width: 72px;
    height: auto;
    object-fit: contain;
}

.service-title {
    margin-top: 1.25rem;
    font-weight: 500;
    font-size: 1rem;
    color: var(--heading-color);
}

@media (max-width: 991px) {
    .service-icon-wrapper {
        width: 120px;
        height: 120px;
    }

    .service-icon {
        width: 48px;
    }
}
